body {
    background-color: #222;
    color:white;
    font-family: lucida console;
    font-size: 12px;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    background-color: #383838;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

#inventory {
	position: absolute;
	top:10px;
	right:25px;
	width:250px;
	padding:10px;
}

#version {
  position: absolute;
  bottom: 10px;
  left: 16px;
}

#date {
  position: absolute;
  bottom: 10px;
  right: 16px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonSelect {
    background-color: #A52A2A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonGrey {
	background-color: #696969;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.progressBorder {
    width:400px;
    height:25px;
    /*line-height: 25px;*/
    border:1px solid black;
    position:relative;
    padding: 2px;
}
.progressPercent {
  position: absolute;
  left: 5px;
  top: 25.5%;
}

.progress {
    width:400px;
    height:25px;
    position:relative;
    top:0; bottom:0;
    left:0;
    width:50%; /* Specify the width.. */
    background-color:#4CAF50;
}
#textpad {
  margin: 0px;
  padding-left: 5px;
}
div.inventory {
  width: 500px;
  padding: 3px;
  color:white;
  background-color: Gray;
  border: 1px solid #FFFFFF;
}

#wrapper {
    width: 1000px;
    border: none;
    overflow: auto; /* will contain if #first is longer than #second */
    padding: 10px;

}
#log {
    width: 300px;
    float:left; /* add this */
    border: none;
    margin-right: 40px;
    overflow: auto;
}
#logFlow {
  height: 400px;
  overflow: auto;
}
#game {
    float:left;
    border: none;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
