.bottom {
    padding: 20px;
}

.completed-library-part, .remaining-library-part {
    width: 45%;
    float: left;
    padding: 20px;
}

.history-part {
    width: 10%;
    float: left;
    padding: 20px;
}

.easle {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-gap: 5px;
    margin: 10px;
    transform-origin: left top;
}

.easelBox, .easelBoxEmpty, .easelBoxBuy {
    position: relative;
    border-radius: 10px;
    background: #CCCCCC;
    padding: 18px 0px;
    width: 100px;
    height: 60px;
    text-align: center;
    border: 0.5px solid black;
    cursor: pointer;
}

.easelBoxEmpty {
    background: white;
}

.library {
    display:grid;
    grid-template-columns: repeat(auto-fill,140px);
    grid-gap: 1px;
    text-align:center;
    transform-origin: left top;
}

.libraryBox {
    border: 0.5px solid #000000;
    cursor: pointer;
}

.history {
    display:inline-grid;
}

.progressBar {
    width: 10%;
    height: 5px;
    background-color: #04AA6D;
    text-align: left; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    overflow:hidden;
}

.mixers {
    display:grid;
    grid-template-columns: repeat(auto-fill,120px);
    grid-gap: 5px;
    margin: 10px;
    transform-origin: left top;
}

.characterFilters {
    display:grid;
    grid-template-columns: repeat(6,20px);
    grid-gap: 10px;
    margin: 10px;
    transform-origin: left top;
}

.autoEaselFilterCharacter {
    text-align: center;
    padding: 5px;
}

.mixerBoxBar, .mixerBuy {
    width: 120px;
    border : 0.5px solid black;
    text-align: center;
    margin: 5px;
}

.mixerBuy {
    padding: 20px;
}

.propertyBuyText {
    font-style: italic;
}

.propertiesBox {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    border: 0.5px solid black;
    width: 300px;
}

.autoEasel {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    border: 0.5px solid black;
}

.buyAutoEasel, .autoEaselView, .mixerBuy, .mixerProperties {
    cursor: pointer;
}

.highlight {
    background-color: yellow;
}

.helpText {
    font-style: italic;
}

.pause {
    float: right;
}

.easelBoxClose {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.mixerProperties {
    background-color: lightgray;
    border-top: 0.5px solid black;
}

.autoEaselHeading {
    background-color: #333333;
    color: white;
}

.mixerPropertyHeading {
    text-align: center;
    font-weight:bold;
}

.propertiesBoxClose, .autoEaselClose {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.autoEaselEnable {
    text-align: center;
    cursor: pointer;
}

.autoEasel {
    background-color: #EEEEEE;
}

.autoEaselFilterCharacter {
    cursor: pointer;
}

.propertyPurchase {
    background-color: lightgray;
}

.propertyHeading {
    text-align: center;
    font-weight:bold;
}

.propertyPadding {
    padding-left: 5px;
}

.propertySlot, .buyPropertySlot {
    text-align: center;
}

.propertyBuyText {
    background-color: lightgray;
    text-align: center;
}

.colorBlock {
    cursor: pointer;
}


body {
    padding: 5px;
}

.pause {
    cursor: pointer;
}

.propertySlot, .propertyPadding {
    cursor: pointer;
}

.mixerButton {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display:inline-block;
}

.mixerActionsDiv {
    height: 25px;
}